.container {
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding: 10px;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
  gap: 10px;
}
