.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: var(--muted-foreground);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
