.todo {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 10px;
  margin: 10px;
  background-color: var(--card);
}

.buttonRow {
  padding-block: 12px;
  display: flex;
  gap: 4px;
}
