.baseButton {
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  cursor: pointer;

  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}

.primaryButton {
  background-color: var(--primary);
  color: var(--primary-foreground);
  &:hover {
    background-color: #0056b3;
  }
}

.secondaryButton {
  background-color: var(--secondary);
  color: var(--secondary-foreground);

  &:hover {
    background-color: #0056b3;
  }
}

.iconButton {
  background-color: transparent;
  &:hover {
    background-color: var(--muted);
  }
}
