.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: none;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
}
